{% extends "base.html" %}
{% block title %}
  Анфиса для друзей. Каталог мороженого
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0">Каталог мороженого</h1>
  <div class="row">
    {% comment %} <ul> {% endcomment %}
      {% for ice_cream in ice_cream_list %}
        {% comment %} <li> {% endcomment %}
          {% include "includes/card.html" %}
          {% comment %} <h3>{{ ice_cream.title }}</h3> {% endcomment %}
          {% comment %} <p>{{ ice_cream.description|truncatewords:10 }}</p> {% endcomment %}
          {% comment %} <a href="{% url 'ice_cream:ice_cream_detail' ice_cream.id %}">подробнее</a> {% endcomment %}
        {% comment %} </li> {% endcomment %}
        {% comment %} {% if not forloop.last %} {% endcomment %}
          {% comment %} <hr> {% endcomment %}
        {% comment %} {% endif %} {% endcomment %}
      {% endfor %}
    {% comment %} </ul> {% endcomment %}
  </div>
{% endblock %}